<section>
  <h2>Insert a new movie</h2>
  <form action="/ui/movie/new" method="post">
    <input type="number" name="movie_id" placeholder="movie_id" />
    <input type="text" name="movie_title" placeholder="movie_title" required />
    <input type="text" name="Released" placeholder="Released" />
    <button type="submit">Create</button>
  </form>
</section>
